$purple1: #8c2b76;
$purple2: #982f80;
$lightpurple: #f3e9f1;
$grey: #8b8b8b;
$max-width:500px;
$navHeight: 50px;

$headlineFont: BreuerText;
$textFont: Rooney;

@import "reset";
@import "fonts";

* {
  box-sizing:border-box;
}
body, html {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
  padding: 0;
  font-family: $textFont;
  height:100%;
  background:linear-gradient($purple1 0px, $purple2 36px, #FFF 36px, #FFF calc(100% - #{$navHeight}), $lightpurple calc(100% - #{$navHeight}), $lightpurple);
}
p, img {
  margin: 0 0 8px 0;
}

h1, h2, h3, h4, h5, header {
  font-family: $headlineFont;
  font-weight:bold;
  margin: 0 0 8px 0;
}
h1 {
  font-size:28px;
}
h2 {
  font-size:24px;
}
h3 {
  font-size:20px;
}

app-root {
  height: 100%;
  display:flex;
  flex-direction: column;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
.content {
  overflow:scroll;
  -webkit-overflow-scrolling: smooth;
  flex: 1;
}

header {
  padding-top: env(safe-area-inset-top);
  background: linear-gradient($purple1, $purple2);
  margin-bottom:0;
  text-align: center;
  a {
    display:inline-block;
    padding: 5px 10px;
    font-size: 20px;
    color: #FFF;
    text-shadow: 2px 0px 6px rgba(0,0,0,0.2);
    margin: 0;
    text-decoration: none;
  }
  .center {
    position:relative;
    max-width: $max-width;
    margin: 0 auto;
  }
  .backBtn {
    position:absolute;
    left:3px;
    top:5px;
    border:0;
    background:none;
    svg {
      transform:rotate(180deg);
      display:inline-block;
      width:15px;
      height:24px;
      line-height:20px;
      polygon {
        fill: #fff;
      }
    }
  }
}

footer {
  background: $lightpurple;
  color: $grey;
  nav {
    max-width: $max-width;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
  }
  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-bottom:3px;
    .active {
      opacity: 0;
    }
  }
  a {
    font-size: 11px;
    width: 65px;
    height: $navHeight;
    color: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &.active {
      color: $purple1;
      .active {
        opacity: 1;
      }
      .inactive {
        opacity: 0;
      }
    }
  }

}

app-program {
  label {
    margin-bottom: 10px;
    display:block;
    text-align: center;
  }
  .no-events {
    padding:35px;
    text-align: center;
    font-size:18px;
    button {
      border:1px solid #000;
      color:$purple1;
    }
  }
}

select {
  border:1px solid #000;
  font-size:16px;
  max-width: 50%;
}

.app-program-block {
  margin:0 -8px;
  border-top:1px solid #000;

}
app-program-line {
  display:block;
  position:relative;
  a {
    display:block;
    position:relative;
    padding:10px 10px 10px 15px;
    border-bottom:1px solid #000;
    text-decoration: none;
    font-size:12px;
    color:$purple1;
    &:before {
      content:'';
      display:block;
      background:currentColor;
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      width:5px;
    }
    div {
      color:#000;
    }
  }
  .title {
    color:$purple1;
    font-family: $headlineFont;
    font-size:18px;
  }
}

.time, .location, .speaker {
    svg {
    width:10px;
    height:10px;
    display:inline-block;
    vertical-align: middle;
  }
}

app-live-stream {
  .video-container {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    display: block;
    position: relative;
    background:url('https://i.ytimg.com/vi/J6lU_x0GT_c/maxresdefault_live.jpg');
    background-size:cover;
    background-position:center center;
    iframe {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }
}

app-program-detail, app-speaker {
  img {
    max-width: 100%;
  }
}




@import "map";


.program-header {
  position:relative;
  text-align: center;
  h3 {

  }

  svg {
    display:inline-block;
    width:15px;
    height:24px;
    line-height:20px;
    polygon {
      fill: $purple1;
    }
  }

  a {
    position:absolute;
    display:block;
    top:0;
    width:24px;
    height:24px;
    line-height:24px;
    text-align: center;
  }
  a.previous-day {
    left:10px;
    svg {
      transform:rotate(180deg);
    }
  }
  a.next-day {
    right:10px;
  }
}


app-accordion {
  display:block;
  margin:0 -8px;
  padding: 4px 8px;
  font-size:16px;
  .accordion__title {
    margin:0 0 8px;
    padding:0;
    text-decoration: underline;
    font-weight:bold;
    position: relative;
    display:block;
    width:100%;
    text-align: left;
    border:0;
    background:none;
    font-size:16px;
    svg {
      position:absolute;
      display: inline-block;
      width:10px;
      height:10px;
      right:0px;
      top:2px;
      transform:rotate(90deg);
      polygon {
        fill:currentColor;
      }
    }
  }
  .accordion__content {
    font-size:12px;
    app-accordion {
      margin-left:-16px;
      padding-left:24px;
    }
  }

  &.open {
    background:rgba(0,0,0,0.03);
    > .accordion__title {
      color: $purple1;
      svg {
        transform:rotate(-90deg);
      }
    }
  }
}

app-program-detail, app-program, app-speaker, app-map, app-live-stream, app-info {
  margin:0 auto;
  max-width:$max-width;
  display:block;
  padding: 8px;
  min-height:100%;
  box-shadow:0 0 3px rgba(0,0,0,0.3);
}

app-map {
  max-width:100%;
  margin:0 auto;
  padding:0;
  text-align: center;
}


